<mat-toolbar class="bg-[#FEF8F4] !p-0 mt-3 !h-auto">
  <div class="flex flex-col">
    <app-span className="text-tgrey">Pages / Profile</app-span>
    <app-h1 className="font-bold">Profile</app-h1> 
  </div>
  <div class="flex-auto"></div>
  <button
    mat-icon-button
    class="example-icon favorite-icon"
    aria-label="Example icon-button with heart icon"
  >
    <mat-icon>favorite</mat-icon>
  </button>
  <button
    mat-icon-button
    [matMenuTriggerFor]="menu"
    aria-label="Example icon-button with a menu"
  >
    <mat-icon>more_vert</mat-icon>
  </button>
  <app-dropdown [menuRef]="menu" poistion="before" [menuItems]="dropMenuItems"></app-dropdown>
  
</mat-toolbar>
