<div class="pt-7 pb-10 px-10 border-b border-grey">
  <img src="assets/images/logo.png" />
</div>
<ul class="mt-10">
  <li class="flex items-center border-r-4 border-primary primary py-3 cursor-pointer mb-2 hover:bg-grey pl-8">
    <mat-icon color="primary">home</mat-icon>
    <span class="ml-3 font-medium text-tgrey">Dashboard</span>
  </li>

  <li class="flex items-center hover:bg-grey py-3 cursor-pointer hover:border-r-4 pl-8 mb-2">
    <mat-icon class="text-tgrey">shopping_cart</mat-icon>
    <span class="ml-3 font-normal text-tgrey">NFT Marketplace</span>
  </li>
  <li class="flex items-center hover:bg-grey py-3 cursor-pointer hover:border-r-4 pl-8 mb-2">
    <mat-icon class="text-tgrey">equalizer</mat-icon>
    <span class="ml-3 font-normal text-tgrey">Tables</span>
  </li>
</ul>
